.box {
  text-align: center;
  margin-top: 50px;
  padding: 30px;
  background-color: #f5d0ff;
  border-radius: 12px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background-color: rgb(57, 12, 163);
  color: rgb(252, 244, 248);
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #6a0080;
}
.colored-text {
  color: teal;
}

